{% extends "base.html.jinja" %}

{% block content %}
    <div class="hero">
        <h1>{{ title }}</h1>
    </div>
    <div class="content">
        <section>
            <h2>Welcome to the Python Movie Database!</h2>

            <p>Built using Piccolo, Piccolo Admin, and FastAPI.</p>

            <ul>
                <li><a href="/docs/">Swagger API</a></li>
                <li><a href="/admin/">Admin</a></li>
            </ul>
        </section>
    </div>
{% endblock content %}
